---
title: Documents list
---

<% current_resource.children.each do |page| %>
    <li class="homapage_menu"><a href="<%= page.path %>"> <span class="s1"><%= page.data.title %> </span> </a> <tr/> </li>
<% end %>


